{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {% for movie in movies %}
        <div class="card">
            {{ movie.movie.title }}
            {{ movie.movieType.audioVersion }}
            {{ movie.movieType.visualVersion }}
        </div>
    {% endfor %}

    <ul>
        <li>Your controller at <code>/home/nawrotech/webdev/movie_reservator_9000/src/Controller/MovieController.php</code></li>
        <li>Your template at <code>/home/nawrotech/webdev/movie_reservator_9000/templates/movie/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
