{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}


    {% for movieWithScreeningFormat in moviesWithScreeningFormats %}
        <div class="card">
            <p>{{ movieWithScreeningFormat.displayMovieScreeningFormat }}</p>
        </div>
    {% endfor %}


{% endblock %}
