{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}


    {% for movie in movies %}
        <div class="card">
            <p>{{ movie.title }}</p>
            <a href="{{ path("app_movie") }}">Add movie</a>
        </div>
    {% endfor %}


{% endblock %}
