<search>
    <form action="{{ action_route }}">
      <label for="movie">Find a Movie</label>
      <input value="{{ query_value }}" type="search" id="movie" name="searchTerm" />
      <button>Search</button>
    </form>
</search>