<search>
    <form action="{{ action_route }}">
      <label for="movie">Find a Movie</label>
      <input value="{{ query_value }}" type="search" id="movie" name="{{ name }}" />
      <button class="btn btn-info">Search</button>
    </form>
</search>