{% extends 'base.html.twig' %}

{% block title %}Hello MovieReferenceController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/nawrotech/webdev/cinemaster/src/Controller/MovieReferenceController.php</code></li>
        <li>Your template at <code>/home/nawrotech/webdev/cinemaster/templates/movie_reference/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
