{% extends 'base.html.twig' %}

{% block title %}Created Rooms{% endblock %}

{% block body %}

    {% for room in rooms %}
        <a class="card" href="{{path("app_screening_rooms_edit", {id: room.id})}}">
            <p>Room name: {{ room.name }}</p>
            <p>Capacity: {{ room.screeningRoomSeats|length }}</p>
        </a>
    {% endfor %}

{% endblock %}
