{% extends 'base.html.twig' %}

{% block title %}Created Rooms{% endblock %}

{% block body %}

    {% if rooms is empty %}
        <p>Looks like you haven't created rooms yet, let's fix it :)</p>
        <a href="{{path("app_screening_rooms_create", {slug: cinema.slug})}}">Click to start creating</a>
    {% endif %}
    

    {% for room in rooms %}
        <a class="card" href="{{path("app_screening_rooms_edit",
         {screening_room_slug: room.slug,
         slug: cinema.slug}
         )}}">
         Room name: {{ room.name }}
        </a>
        <p>Capacity: {{ room.screeningRoomSeats|length }}</p>
    {% endfor %}

{% endblock %}
