{% extends "base.html.twig" %}

{% block body %}

{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}       
    {{ form_widget(form) }}
    <button name="save"  class="btn btn-success">Save</button>
    <button name="addVisualFormats" value="1" class="btn btn-secondary">Add Visual Formats</button>
{{ form_end(form) }}

{% endblock %}
