{% extends 'base.html.twig' %}

{% block title %}Cinemas{% endblock %}

{% block body %}

    {% for message in app.flashes("success") %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}


    {% for cinema in cinemas %}
        <a href="{{path("app_cinema_details", {slug: cinema.name})}}" class="card">
            <h2>{{ cinema.name }}</h2>
            <p>Number of seats: {{ cinema.seats|length }}</p>
        </a>
    {% endfor %}

{% endblock %}
