{% extends "base.html.twig" %}

{% block body %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="mb-4">
        {{ include("partials/_dynamic_collection_type.html.twig", {
            collectionType: form.priceTiers,
            addButtonText: "Add price tier"
        }) }}
    </div>
{{ form_end(form) }}
   

{% endblock %}
