{% extends "base.html.twig" %}

{% block body %}
       
{{ form_start(form) }}
    {{ include("partials/_dynamic_collection_type.html.twig", {
        collectionType: form.screeningRoomSetups,
        addButtonText: "Add Screening Room Setup"
    }) }}

    <button name="addScreeningFormats" value="1" class="btn btn-primary">Add screening formats</button>
    <button name="submit" value="1" class="btn btn-secondary">Submit</button>
{{ form_end(form) }}
   

{% endblock %}
