{% extends "base.html.twig" %}

{% block body %}
       
{{ form_start(form) }}
    <div class="mb-4">
        {{ include("partials/_dynamic_collection_type.html.twig", {
            collectionType: form.screeningRoomSetups,
            addButtonText: "Add Screening Room Setup"
        }) }}
    </div>
{{ form_end(form) }}
   

{% endblock %}
