{% extends "base.html.twig" %}


{% block body %}

{{ form_start(form) }}
    {{ include("partials/_dynamic_collection_type.html.twig", {
        collectionType: form.visualFormats,
        addButtonText: "Add visual format"
    }) }}
    <button name="addScreeningRoomSetups" value="1" class="btn btn-primary">Add screening room setups</button>
    <button name="submit" value="1" class="btn btn-secondary">Submit</button>
{{ form_end(form) }}
   

{% endblock %}
