{% extends "base.html.twig" %}


{% block body %}

{{ form_start(form, {
    attr: {'novalidate': 'novalidate'}
}) }}
    <div class="mb-4">
        {{ include("partials/_dynamic_collection_type.html.twig", {
            collectionType: form.visualFormats,
            addButtonText: "Add visual format"
        }) }}
    </div>
{{ form_end(form) }}
   

{% endblock %}
