/* body {
    background-color: blue;
} */
.seat {
    background-color: red;
    border: 3px solid black;
    border-radius: 10rem 10rem 100vh 100vh;
    width: 30px;
    height: 30px;
}

.available {
    background-color: green;
}

.locked,
.reserved {
    background-color: red;
}

.selected  {
    background-color: yellow;
}

.seats-container {
    display: grid;
    grid-template-columns: repeat(auto, 50px);
}

.seat-form {
    width: min-content;
}

.msf-legend {
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 2rem;
}