/* body {
    background-color: blue;
} */
.seat {
    background-color: red;
    border: 3px solid black;
    border-radius: 10rem 10rem 100vh 100vh;
    width: 40px;
    height: 40px;
}

.available {
    background-color: green;
}

.locked,
.reserved {
    background-color: red;
}

.selected  {
    background-color: yellow;
}

.seats-container {
    display: grid;
    grid-template-columns: repeat(auto, 50px);
}

.seat-form {
    width: min-content;
}

.msf-legend {
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 2rem;
}

/* sortable */
.sortable-ghost {
    background-color: lightblue;
}

.drag-handle {
    cursor: grab;
}

/* .available-movies-screening-formats-input-fields {
    height: 100px;
    overflow-y: auto;


}

.image-container {
    height: 428px;   
    overflow: hidden;
}

.card-body {
    height: 300px;
}
 */

 .seat-position {
    font-size: 0.75rem;
 }


 /* week-axis */


 .day-axis {
    --size-multiplier: 1;
    border: 1px solid black;
    font-size: 1.25rem;
    position: relative;

    .axis-hour {
        height: calc(60px * var(--size-multiplier));
        border-bottom: 1px solid black;
        position: relative;
    }

    .showtime {
        position: absolute;
        left: 80px;
        height: calc(var(--size-multiplier) * var(--showtimeDuration));
        top: calc(var(--size-multiplier) * var(--minutesPastHour));
        color: black;
        border: 1px solid black;
        background-color: white;
        z-index: 1;
     }     

     .screening-room-showtime-column {
        position: absolute;
        top: -20px;
        bottom: 0;
        left: calc(var(--offset) * 80px);
        border: 2px solid black;
     }
 }


 .cinema-day-axis {
    --size-multiplier: 1;
    border: 1px solid black;
    font-size: 1.25rem;
    position: relative;
    margin-top: 2rem;

    .axis-hour {
        height: calc(60px * var(--size-multiplier));
        border-bottom: 1px solid black;
        position: relative;
    }


    .screening-room-showtime-column {
        position: absolute;
        top: -35px;
        left: var(--leftSpacing);
        border: 1px solid black;
     }


    .cinema-showtime-wrapper {
        position: absolute;
        height: calc(var(--size-multiplier) * var(--showtimeDuration));
        top: calc(var(--size-multiplier) * var(--minutesPastHour));
        width: 20px;
        left: var(--leftSpacing);

        color: black;
        border: 1px solid black;
        background-color: orangered;
        z-index: 1;
        isolation: isolate;

        &:hover {
            .cinema-showtime-details {
                display: block;
                z-index: 100;

            }
        }
     }

     .cinema-showtime-details {
        position: absolute;
        background-color: white;
        border: 2px solid black;
        width: max-content;
        display: none;

     }


     
 }
