.seat {
    background-color: red;
    border: 3px solid black;
    border-radius: 10rem 10rem 100vh 100vh;
    width: 40px;
    height: 40px;
}

.available {
    background-color: green;
}

.locked,
.reserved {
    background-color: red;
}

.selected  {
    background-color: yellow;
}

.seats-container {
    display: grid;
    grid-template-columns: repeat(auto, 50px);
}

.seat-form {
    width: min-content;
}

.msf-legend {
    font-size: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 2rem;
}

/* sortable */
.sortable-ghost {
    background-color: lightblue;
}

.drag-handle {
    cursor: grab;
}


 .seat-position {
    font-size: 0.75rem;
 }


 /* screening-room day-axis */
.day-axis {
    --size-multiplier: 1;
    border: 1px solid black;
    font-size: 1.25rem;
    position: relative;

    .axis-hour {
        height: calc(60px * var(--size-multiplier));
        border-bottom: 1px solid black;
        position: relative;
    }

    .showtime {
        position: absolute;
        left: 80px;
        height: calc(var(--size-multiplier) * var(--showtimeDuration));
        top: calc(var(--size-multiplier) * var(--minutesPastHour));
        color: black;
        border: 1px solid black;
        background-color: white;
        z-index: 1;
     }     

     .screening-room-showtime-column {
        position: absolute;
        top: -20px;
        bottom: 0;
        left: calc(var(--offset) * 80px);
        border: 2px solid black;
     }
 }


 .cinema-day-axis {
    --size-multiplier: 1;
    border: 1px solid black;
    font-size: 1.25rem;
    position: relative;
    margin-top: 2rem;
    /* overflow: auto; */

    .axis-hour {
        height: calc(60px * var(--size-multiplier));
        border-bottom: 1px solid black;
        position: relative;
    }


    .screening-room-showtime-column {
        position: absolute;
        top: -38px;
        left: var(--leftSpacing);
        border: 1px solid black;
        font-size: 0.75rem;
        inline-size: 60px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
     }


    .cinema-showtime-wrapper {
        position: absolute;
        height: calc(var(--size-multiplier) * var(--showtimeDuration));
        top: calc(var(--size-multiplier) * var(--minutesPastHour));
        left: var(--leftSpacing);

        color: black;
        border: 1px solid black;
        background-color: hotpink;
        z-index: 1;
        width: 60px;
        isolation: isolate;
   

        &:hover {
            z-index: 100;

            .cinema-showtime-details {
                display: block;
            }
        }
     }

     .cinema-showtime-details {
        position: absolute;
        background-color: white;
        border: 2px solid black;
        inline-size: max-content;
        display: none;

        
        left: 65px; 
        top: 0;

        z-index: 10;

        padding: 8px;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
     }

 }


 /* _screening_room_seat.html.twig */
 .seat-status-checkbox[type="checkbox"] {
    outline: 5px solid red;
 }
 .seat-status-checkbox[type="checkbox"]:checked {
    outline: 5px solid green;
 }

 /* cinema_showtimes */
 .upcoming-showtimes-list {
    block-size: 120px;
    overflow: auto;
}