<div {{ stimulus_target(controllerName, targetName) }} class="{{ className }}">
    <div data-hour="8" class="axis-hour">8:00</div>
    <div data-hour="9" class="axis-hour">9:00</div>
    <div data-hour="10" class="axis-hour">10:00</div>
    <div data-hour="11" class="axis-hour">11:00</div>
    <div data-hour="12" class="axis-hour">12:00</div>
    <div data-hour="13" class="axis-hour">13:00</div>
    <div data-hour="14" class="axis-hour">14:00</div>
    <div data-hour="15" class="axis-hour">15:00</div>
    <div data-hour="16" class="axis-hour">16:00</div>
    <div data-hour="17"  class="axis-hour">17:00</div>
    <div data-hour="18" class="axis-hour">18:00</div>
    <div data-hour="19" class="axis-hour">19:00</div>
    <div data-hour="20" class="axis-hour">20:00</div>
    <div data-hour="21"  class="axis-hour">21:00</div>
    <div data-hour="22" class="axis-hour">22:00</div>
    <div data-hour="23" class="axis-hour">23:00</div>
    <div data-hour="24" class="axis-hour">24:00</div>
</div>