<div class="week-axis">
    <div class="week-day">8:00</div>
    <div class="week-day">9:00</div>
    <div class="week-day">10:00</div>
    <div class="week-day">11:00</div>
    <div class="week-day">12:00</div>
    <div class="week-day">13:00</div>
    <div class="week-day">14:00</div>
    <div class="week-day">15:00</div>
    <div class="week-day">16:00</div>
    <div class="week-day">17:00</div>
    <div class="week-day">18:00</div>
    <div class="week-day">19:00</div>
    <div class="week-day">20:00</div>
    <div class="week-day">21:00</div>
    <div class="week-day">22:00</div>
    <div class="week-day">23:00</div>
    <div class="week-day">24:00</div>
</div>