{% extends "base.html.twig" %}

{% block body %}
    {{ include("showtime/_showtime_filtering_form.html.twig") }}
   
    <div class="row g-4">
        {% for showtime in showtimes %}
            <div class="col-12 col-sm-6 col-lg-3">
                {{ include("showtime/_showtime_card.html.twig") }}
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-info">
                    No showtimes found matching your criteria.
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="mt-4">
        {{ pagerfanta(showtimes, "twitter_bootstrap5") }}
    </div>
{% endblock %}